
/*----------------------------------------------------------------*/
html,body {
    margin:0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.base {
    border: 1px solid blue; width: 600px; ; height: 375px;
    background:linear-gradient( to right, red 0%, 
    red 23%, black 23%, black 66% );
    width: 600px; 
    height:375px;
}


.np {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 17px;
    color: white;
    margin-right: 150px;

}

.oggy {
 width: 75px; height: 75px;
 margin-right: 250px;
}

.part1 {
    
    width: 600px;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.part2 {
    border: 1px solid purple;
    margin-top: 2px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;


}
 .years {
    margin-right: 55px;
 }
 

 .navi {
    border: 1px solid orange;
    height: 95px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
 }

 .fb {
    width: 50px;
 }

 .tw {
    width: 50px;
    margin-left: 40px;
 }

 .ds {
    width: 50px;
    margin-left:40px;
 }